<!DOCTYPE HTML>
<html>
<head>
{% load staticfiles %}
<title>ヽ(ﾟ∀ﾟ*)ﾉ━━━ｩ♪</title>
<meta charset="utf-8" />
<meta name="viewport " content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="{% static "/img/favicon.ico" %}">
<link rel="stylesheet" href="{% static "css/main.css" %}" />
</head>
<body>

<!-- Header -->
<header id="header">
    {% if  not isLogin  %}
	<a href="{% url 'toLogin' %}" class="logo"><strong id="username">{{ user }}</strong></a>
    {% else  %}
    <a href="{% url 'center' %}" class="logo"><strong id="username">{{ user }}</strong></a>
    {% endif %}
	<nav>
		<a href="#menu">菜单</a>
	</nav>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
		<li><a href="{% url 'index' %}">主页</a></li>
		<li><a href="{% url 'ariticles' %}">文章</a></li>
		<li><a href="{% url 'center' %}" id="center">个人中心</a></li>
		<li><a href="#" id="logout" onclick="Logout()">注销</a></li>
	</ul>
</nav>

<!-- Main -->
<section id="main">
	<div class="inner">
		<div class="image fit">
			<img src="{{ MEDIA_URL }}{{ article.cover }}" alt="" />
		</div>
		<header>
			<h1>{{ article.title }}</h1>
			<p class="info">{{ article.time }} by <a href="">{{ article.un }}</a></p>
		</header>
        {{ article.test | safe }}
        <div class="12u$">
            <ul class="actions">
                <br/><br/>
                <li><a class="button special" style="visibility: hidden" id="edit" href="{% url 'write' article.articleid %}">修 改</a></li>&emsp;&emsp;&emsp;
                <li><a class="button special" style="visibility: hidden" id="dele" onclick="dele()">删 除</a></li>
            </ul>
        </div>
        </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="copyright">Copyright &copy; 2018.Company name All rights reserved.lvvvvvvvv.cn - <a href="#" target="_blank" title="联系站长">联系站长</a></div>
</footer>

<!-- Scripts -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/jquery.scrolly.min.js" %}"></script>
<script src="{% static "js/skel.min.js" %}"></script>
<script src="{% static "js/util.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if(!{{ isLogin }})
        {
            document.getElementById('center').style.display='none';
            document.getElementById('logout').style.display='none';
        }

        if({{ isLogin }})
        {
            if("{{ user }}"=="{{ article.un }}")
            {
                document.getElementById('edit').style.visibility='visible';
                document.getElementById('dele').style.visibility='visible';
            }
        }
    });

    Logout = function () {
        if({{ isLogin }})
        {
            var post_data ={
                "method": "logout"
            };

            $.ajax({
                url: "{% url 'index' %}",
                type: "POST",
                data: post_data,
                success: function (data) {      //服务器数据传输时运行，得到数据data
                    data = JSON.parse(data);
                    if(data["status"] == 1) {
                        alert('注销啦！下次再来~');
                        window.location.href="{% url 'index' %}";
                    }
                    }
            });
        }
    }

    dele = function () {
        if(window.confirm('真的要删除吗？'))
        {
            var post_data = {
                "method": "dele",
                "id": {{ article.articleid }},
            };
            $.ajax({
            url: "{% url 'write' %}",
            type: "POST",
            data: post_data,
            success: function (data) {      //服务器数据传输时运行，得到数据data
                data = JSON.parse(data);
                if(data["status"] == 1) {
                    alert('删除成功！');
                    window.location.href="{% url 'ariticles' %}";
                }
                }
        });
        }
        else
        {
            return false;
        }
    }
</script>
</body>
</html>