<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
<title>Ψ(￣∀￣)Ψ</title>
<meta charset="utf-8" />
<meta name="viewport " content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="{% static "/img/favicon.ico" %}">
<link rel="stylesheet" href="{% static "css/main.css" %}" />
</head>
<body>

<!-- Header -->
<header id="header">
    {% if  not isLogin  %}
	<a href="{% url 'toLogin' %}" class="logo"><strong id="username">{{ user }}</strong></a>
    {% else  %}
    <a href="#" class="logo"><strong id="username">{{ user }}</strong></a>
    {% endif %}
	<nav>
		<a href="#menu">菜单</a>
	</nav>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
		<li><a href="{% url 'index' %}">主页</a></li>
		<li><a href="#">文章</a></li>
		<li><a href="{% url 'generic' %}" id="center">个人中心</a></li>
		<li><a href="#" id="logout" onclick="Logout()">注销</a></li>
	</ul>
</nav>

<!-- Banner -->
<section id="banner" style="background-image:url({% static "/img/pixiv01.png" %});
        background-repeat:no-repeat;
        background-position:50% 50%;
        background-size: cover">    <!--这一条太牛了-->
	<div class="inner">
		<h1>开心或是难过<br />
		请写下来</h1>
		<ul class="actions">
			<li><a href="{% url 'write' %}" class="button alt scrolly big">写一篇</a></li>
		</ul>
	</div>
</section>

<!-- One -->
{% for article in articles %}
<article id="{{ article.id}}" name="articles" class="post style1">
	<div class="image">
		<img src="{{ MEDIA_URL }}{{ article.cover }}" data-position="50% center" />
	</div>
	<div class="content">
		<div class="inner">
			<header>
				<h2><a href="toLogin.html">{{ article.title }}</a></h2>
				<p class="info">{{ article.time }} by <a href="#">{{ article.un }}</a></p>
			</header>
            <p>{{ article.test }}</p>
            <ul class="actions">
				<li><a href="toLogin.html" class="button alt">Read More</a></li>
			</ul>
		</div>
	</div>
</article>
{% endfor %}


<!-- Footer -->
<footer id="footer">
    <div class="copyright">Copyright &copy; 2018.Company name All rights reserved.lvvvvvvvv.cn - <a href="#" target="_blank" title="联系站长">联系站长</a></div>
</footer>

<!-- Scripts -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/jquery.scrolly.min.js" %}"></script>
<script src="{% static "js/skel.min.js" %}"></script>
<script src="{% static "js/util.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
<script type="text/javascript">
    $(function () {
        var bgs = [];
        bgs[0] = "{% static 'img/pixiv06-1.jpg' %}";
        bgs[1] = "{% static 'img/pixiv06-2.jpg' %}";
        var random = Math.round(Math.random());
        var imageUrl = "url("+bgs[random]+")";
        document.getElementById('banner').style.backgroundImage=imageUrl;

        if(!{{ isLogin }})
        {
            document.getElementById('center').style.display='none';
            document.getElementById('logout').style.display='none';
        }

        var a = document.getElementsByName('articles');
        for (var i = 0;i < a.length;i++)
        {
            if(i % 2 != 0)
            {
                a[i].className += ' alt';
            }
        }
    });
    Logout = function () {
        if({{ isLogin }})
        {
            var post_data ={
                "method": "logout"
            };

            $.ajax({
                url: "{% url 'index' %}",
                type: "POST",
                data: post_data,
                success: function (data) {      //服务器数据传输时运行，得到数据data
                    data = JSON.parse(data);
                    if(data["status"] == 1) {
                        alert('注销啦！下次再来~');
                        window.location.href="{% url 'index' %}";
                    }
                    }
            });
        }
    }


</script>
</body>
</html>