<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
<title>o(￣▽￣)ｄ</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{% static "/css/main.css" %}" />
<link rel="shortcut icon" href="{% static "/img/favicon.ico" %}">
</head>
<body>

<!-- Header -->
<header id="header">
	<a href="#" class="logo"><strong>登录/注册</strong></a>
	<nav>
		<a href="#menu">菜单</a>
	</nav>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
		<li><a href="index.html">主页</a></li>
		<li><a href="#">文章</a></li>
	</ul>
</nav>

<iframe id="login_frame" src="{% url 'login' %}" scrolling="no" width="100%" height="500%"></iframe>
<!-- Main -->

<!-- Footer -->

<!-- Scripts -->
<script src="{% static "/js/jquery.min.js" %}"></script>
<script src="{% static "/js/jquery.scrolly.min.js" %}"></script>
<script src="{% static "/js/skel.min.js" %}"></script>
<script src="{% static "/js/util.js" %}"></script>
<script src="{% static "/js/main.js" %}"></script>
<script type="text/javascript">
function changeFrameHeight(){
    var ifm= document.getElementById("login_frame");
    ifm.height=document.documentElement.clientHeight-100;
    }
    window.onresize=function(){ changeFrameHeight();
}
$(function(){changeFrameHeight();});
</script>
</body>
</html>