<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
<title>φ(゜▽゜*)♪</title>
<meta charset="utf-8" />
<meta name="viewport " content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="{% static "/img/favicon.ico" %}">
<link rel="stylesheet" href="{% static "css/main.css" %}" />
</head>
<body>

<!-- Header -->
<header id="header">
    {% if  not isLogin  %}
	<a href="{% url 'toLogin' %}" class="logo"><strong id="username">{{ user }}</strong></a>
    {% else  %}
    <a href="{% url 'center' %}" class="logo"><strong id="username">{{ user }}</strong></a>
    {% endif %}
	<nav>
		<a href="#menu">菜单</a>
	</nav>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
        <li><a href="{% url 'index' %}">主页</a></li>
		<li><a href="{% url 'ariticles' %}">文章</a></li>
		<li><a href="{% url 'anime' %}">动画</a></li>
		<li><a href="{% url 'center' %}" id="center">个人中心</a></li>
		<li><a href="#" id="logout" onclick="Logout()">注销</a></li>
	</ul>
</nav>

<!-- Banner -->
<section id="banner" style="background-image:url({% static "/img/pixiv07.jpg" %});
        background-repeat:no-repeat;
        background-position:50% 50%;
        background-size: cover">    <!--这一条太牛了-->
	<div class="inner">
		<h1>泪水或是汗水<br />
		去挥洒吧</h1>
		<ul class="actions">
			<li><a href="#one" class="button alt scrolly big" style="visibility: hidden">写一篇</a></li>
		</ul>
	</div>
</section>
<!-- Mail -->
<section id="main">
	<div class="inner">

<!-- Form -->
    <br>
        <h3>写文章</h3></br>
        <form>
            <div class="row uniform 50%">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="title" id="title" value="" placeholder="标 题" />
                </div>

                <div class="4u 12u$">
                    <div class="select-wrapper">
                        <select name="category" id="category" >
                            <option value="0" disabled selected style='display:none;'>类 别</option>
                            <option value="1">博 客</option>
                            <option value="2">其 它</option>
                        </select>
                    </div>
                </div>
                <div class="4u 12u$(xsmall)" id="public_div">
                    <input type="radio" id="public" name="priority" checked>
                    <label for="public">公开</label>
                </div>
                <div class="4u 12u$(xsmall)" id="anonymous_div">
                    <input type="radio" id="anonymous" name="priority">
                    <label for="anonymous">匿名</label>
                </div>
                <div class="6u 12u$(small)" id="checkbox_div">
                    <input type="checkbox" id="checkbox" name="checkbox" onclick="Upload(this)">
                    <label for="checkbox">自定义封面图片</label>
                </div>
                <div class="6u 12u$(small)">
                    <input type="file" id="upload" name="upload" style="visibility: hidden">
                </div>
                <div class="12u$">
                    <textarea name="article" id="article" placeholder="开始写吧~" rows="10" style="resize: none"></textarea>
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li><a class="button special" onclick="ToUpload()">{% if edit %}修 改{% else %}发 表{% endif %}</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Footer -->
<footer id="footer">
    <div class="copyright">Copyright &copy; 2018.Company name All rights reserved.lvvvvvvvv.cn - <a href="#" target="_blank" title="联系站长">联系站长</a></div>
</footer>

<!-- Scripts -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/jquery.scrolly.min.js" %}"></script>
<script src="{% static "js/skel.min.js" %}"></script>
<script src="{% static "js/util.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
<script type="text/javascript">

    Upload = function (checkbox) {
        if (checkbox.checked == true)
        {
            document.getElementById('upload').style.visibility='visible';
        }
        else if (checkbox.checked == false)
        {
            document.getElementById('upload').style.visibility='hidden';
        }
    }

    ToUpload = function(){
        var title = document.getElementById('title').value;
        var category = document.getElementById('category').value;
        var article = document.getElementById('article').value;
        var check = document.getElementById('checkbox').checked;
        var image = document.getElementById('upload').value;
        var user = "anonymous";
        //输入检测
        if(title == '')
        {
            alert('标题没写呢！');
            return false;
        }
        if(category == 0 && !{{ edit }})
        {
            alert('请选择类别！');
            return false;
        }
        if(article == '')
        {
            alert('文章好歹写一点吧！');
            return false;
        }
        if(check == true)
        {
            if(image == '')
            {
                alert('你还没上传图片！');
                return false;
            }
        }
        else
        {
            image = '';
        }

        if(document.getElementById('public').checked)
        {
            user = "{{ user }}";
        }
        var img = document.getElementById('upload').files[0];
        var formData = new FormData();
        //ajax数据处理
       /* var post = {
            "title": title,
            //"category": category,
            "user": user,
            "image": image,
            "article": article,
        };
        */
       formData.append("title",title);
       formData.append("article",article);
       if({{ edit }})
       {
           formData.append("method","edit");
           formData.append("id",{{ article.articleid }});
       }
       else
       {
           formData.append("user",user);
           formData.append("img",img);
       }
        $.ajax({
            url: "{% url 'write' %}",
            type: "POST",
            data: formData,
            processData:false,
            contentType:false,
            success: function (data) {      //服务器数据传输时运行，得到数据data
                data = JSON.parse(data);
                if(data["status"] == 1) {
                    alert('文章发表成功！');
                    window.location.href="{% url 'ariticles' %}";
                }
                if(data["status"] == 2) {
                    alert('文章修改成功！');
                    window.location.href="{% url 'ariticles' %}";
                }
                }
        });
    }

 $(document).ready(function () {
        if(!{{ isLogin }})
        {
            document.getElementById('center').style.display='none';
            document.getElementById('logout').style.display='none';
        }
        if({{ edit }})
        {
            document.getElementById('title').value = "{{ article.title }}";
            document.getElementById('checkbox_div').style.display='none';
            document.getElementById('public_div').style.display='none';
            document.getElementById('anonymous_div').style.display='none';
            var ttt = '';
            {% for t in texts %}
                ttt += "{{ t |safe }}" +'\n';
            {% endfor %}
            document.getElementById('article').value = ttt;
        }
    });

    Logout = function () {
        if({{ isLogin }})
        {
            var post_data ={
                "method": "logout"
            };

            $.ajax({
                url: "{% url 'index' %}",
                type: "POST",
                data: post_data,
                success: function (data) {      //服务器数据传输时运行，得到数据data
                    data = JSON.parse(data);
                    if(data["status"] == 1) {
                        alert('注销啦！下次再来~');
                        window.location.href="{% url 'index' %}";
                    }
                    }
            });
        }
    }
</script>
</body>
</html>